<h1>Forgot your password?</h1>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

  <%= devise_error_messages! %>

	<%= f.input :email, :label_html => {:class => "inlined"}, :input_html => {:class => "inlined-label-input"} %>

  <p>
		<button type="submit" class="giant_blue_button clearfix">
			<div class="button_blue">
				&nbsp;Send reset email&nbsp;
				<div class="button_blue_right"></div>
			</div>
		</button>
	</p>
	
<% end %>

<%= render :partial => "devise/shared/links" %>

<% content_for :page_js do %>
	<%= javascript_tag "Pooptrack.inline_input();"%>
<% end %>