<h1>Forgot your password?</h1>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email, :class => "inlined" %>
  <%= f.text_field :email, :class => "input-text" %></p>

  <p><%= f.submit "Send me reset password instructions" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>

<% content_for :page_js do %>
	<%= javascript_tag "Pooptrack.inline_input();"%>
<% end %>