<h1>Log in</h1>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

	<%= devise_error_messages! %>
	
  <%= f.input :username, :label_html => {:class => "inlined"}, :input_html => {:class => "inlined-label-input"} %>

	<%= f.input :password, :label_html => {:class => "inlined"}, :input_html => {:class => "inlined-label-input"} %>
	
	<% if devise_mapping.rememberable? -%>
	  <%= f.input :remember_me, :as => :boolean %>
	<% end -%>
	
	<div class="input">
		<button type="submit" class="giant_blue_button clearfix">
			<div class="button_blue">
				Log in
				<div class="button_blue_right"></div>
			</div>
		</button>
	</div>
	
<% end %>

<%= render :partial => "devise/shared/links" %>

<% content_for :page_js do %>
	<%= javascript_tag "Pooptrack.inline_input();"%>
<% end %>