<h1>Log in</h1>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :username, :class => "inlined" %>
  <%= f.text_field :username, :class => "input-text" %></p>

  <p><%= f.label :password, :class => "inlined" %>
  <%= f.password_field :password, :class => "input-text" %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
  <% end -%>

  <p>
		<button type="submit" class="giant_blue_button clearfix">
			<div class="button_blue">
				Log in
				<div class="button_blue_right"></div>
			</div>
		</button>
	</p>
<% end %>

<%= render :partial => "devise/shared/links" %>

<% content_for :page_js do %>
	<%= javascript_tag "Pooptrack.inline_input();"%>
<% end %>