<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag %>
  <title>Pooptrack <%= yield(:title) %></title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
	
<%= render :partial => "shared/header" %>	

<div id="user_management_wrapper">
	<div id="user_management_wrapper_mid">
		<div id="user_management_wrapper_inner">
			<div id="user_management">
				<%= yield %>
			</div>
		</div>
	</div>
</div>

<%= render :partial => "shared/footer" %>
</body>
</html>
