<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag %>
  <title>Pooptrack <%= yield(:title) %></title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
	
<%= render :partial => "shared/header" %>

<div id="container_wrapper">
	<div id="container_wrapper_mid">
		<div id="container_wrapper_inner">
			<div id="container">
				<% if notice or alert %>
					<div id="flash_messages">
						<% if notice %><p class="notice"><%= notice %></p><% end %>
						<% if alert %><p class="alert"><%= alert %></p><% end %>
					</div>
				<% end %>

				<%= yield %>
			</div>
		</div>
	</div>
</div>

<%= render :partial => "shared/footer" %>

</body>
</html>
