<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag %>
  <title>Pooptrack <%= yield(:title) %></title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= render :partial => "shared/header" %>	

<div id="teaser_wrapper">
	<div id="teaser">
		<%= yield %>
	</div>
</div>

<%= render :partial => "shared/footer" %>
</body>
</html>
